@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="~/Content/Materia/Estilos.css" />*@

<div class="container">
    <h1 class="m-3">Agregar Materia</h1>
    <hr />
    @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.IdMateria) //50
        @Html.HiddenFor(model => model.Imagen) //byte[]

        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Nombre, new { @id = "test" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Costo)
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
            </div>
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Creditos)
                @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Fecha)
                @*<input type="text" id="datepicker" name="Fecha">*@
                @Html.TextBoxFor(model => model.Fecha, new { @id = "datepicker", @class = "form-control", placeholder = "Fecha" })
                @*@Html.TextBoxFor(model => model.Fecha, new { @class = "form-control" })*@
            </div>
            <div class="mb-3 col">
                <input class="form-control" type="file" name="inptFileImagen" onchange="validarImagen(), visualizarImagen(this)" id="inptFileImagen" />
                <div class="align-items-center">
                    <center>
                        <img id="img" src="https://cdn-icons-png.flaticon.com/512/3682/3682281.png" width="100" , height="100" />
                    </center>
                </div>
            </div>
            <div class="mb-3 col">
            </div>
        </div>
        <hr />
        <h2 class="m-3">Semestre</h2>

        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Semestre.IdSemestre)
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona una opcion", new { @id = "ddlSemestre", @onchange = "MateriaGetByIdSemestre()", @class = "form-select" })
            </div>
            <div class="mb-3 col">

                @Html.LabelFor(model => model.IdMateria, new { })
                @Html.DropDownListFor(model => model.IdMateria, new SelectList(String.Empty), "Selecciona la materia", new { @id = "ddlMateria", @class = "form-select" })
            </div>
            <div class="mb-3 col">
            </div>
        </div>


        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    }

</div>


@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<script>

    $("#datepicker").datepicker({
        dateFormat: "dd-mm-yy",
        showAnim: "drop"
    });



    function validarImagen() {
        //saber la extension del archivo que me paso
        //obtener la extesion  Png != png
        //dividir el nombre en 2, atraves de un punto (.)
        var nombre = $('#inptFileImagen')[0].files[0].name.split('.').pop().toLowerCase()

        console.log(input)

        //compararla con extensiones de imagen (png, jpg, jpeg, webp)
        var extensionesValidas = ['png', 'jpg', 'jpeg', 'webp']
        var banderaImg = false;

        //for in - for of

        for (var i = 0; i <= extensionesValidas.length; i++) {
            if (input == extensionesValidas[i]) {
                banderaImg = true
                break; //solo rompre ciclos
                //return; //rompe funciones
            }
        }

        //NO me de una imagen
        if (!banderaImg) {
            alert(`Las extensiones permitidas son: ${extensionesValidas}`)
            $('#inptFileImagen').val("");
        }
    }
    //arrayByte
        //file
    //base64
    function visualizarImagen(input) {
        if (input.files) {
            var reader = new FileReader();
            reader.onload = function (elemento) {
                $('#img').attr('src', elemento.target.result)
            }
            reader.readAsDataURL(input.files[0])
        }
    }

    function MateriaGetByIdSemestre() {
        let ddl = $('#ddlSemestre').val(); //ACCEDER AL VALOR SELECCIONADO
        $.ajax({
            url: "@Url.Action("GetByIdSemestre", "Materia")?idSemestre="+ddl,
            type: "GET",
            dataType: "JSON",
            //data => MODELOS
            success: function (result) {
                //console.log(result)
                if (result.Correct) {
                    //buscar el ddl donde pintare los valores
                    let ddlMateria = $('#ddlMateria');
                    ddlMateria.empty();
                    let optionDefault = "<option>Selecciona una materia</option>"
                    ddlMateria.append(optionDefault)
                    $.each(result.Objects, function (i, valor) {
                        let option = `<option value=${valor.IdMateria}>${valor.Nombre}</option>`
                        //console.log(option)
                        ddlMateria.append(option)
                    })
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        })
    }
</script>
