@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="~/Content/Materia/Estilos.css" />*@

<div class="container">
    <h1 class="m-3">Agregar Materia</h1>

    @using (Html.BeginForm("Form", "Materia", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.IdMateria)
        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Nombre, new { @class = "form-label", @id = "test" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Costo, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
            </div>
            <div class="mb-3 col">

            </div>
        </div>
        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Semestre.IdSemestre, new { @class = "form-label" })
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona una opcion", new {@class = "form-select", @id = "ddlSemestre" })
            </div>
        </div>

    @Html.DropDownListFor(model => model.IdMateria, new SelectList(String.Empty), "Selecciona la materia", new { @id = "ddlMateria" })

    <button type="submit">Enviar</button>
}

