@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="~/Content/Materia/Estilos.css" />*@

<div class="container">
    <h1 class="m-3">Agregar Materia</h1>
    <hr />
    @using (Html.BeginForm("Form", "Materia", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.IdMateria)
        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Nombre, new { @id = "test" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
            <div class="mb-3 col">

                @Html.LabelFor(model => model.Costo)
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })

            </div>
            <div class="mb-3 col">

            </div>
        </div>
        <hr />
        <h2 class="m-3">Semestre</h2>

        <div class="row">
            <div class="mb-3 col">
                @Html.LabelFor(model => model.Semestre.IdSemestre)
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona una opcion", new { @id = "ddlSemestre", @onchange = "MateriaGetByIdSemestre()", @class = "form-select" })
            </div>
            <div class="mb-3 col">

                @Html.LabelFor(model => model.IdMateria, new { })
                @Html.DropDownListFor(model => model.IdMateria, new SelectList(String.Empty), "Selecciona la materia", new { @id = "ddlMateria", @class = "form-select" })
            </div>
            <div class="mb-3 col">

            </div>
        </div>

        <input type="file" accept=".png" name="ImagenMateria" onchange="validarImagen()" id="inptFileImagen" />

        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    }

</div>


@Scripts.Render("~/bundles/jquery")

<script>

    function validarImagen() {
        //saber la extension del archivo que me paso
        let input = $('#inptFileImagen')[0].files[0].name;

        //obtener la extesion

        //dividir el nombre en 2, atraves de un punto (.)

        //compararla con extensiones de imagen (png, jpg, jpeg, webp)

        //coinciden
        //visualizar la imagen

        //no coinciden
        //input no tiene que tener ningun archivo
            //alert (no me diste una imagen, revisalo)

        console.log(input)
    }

    function MateriaGetByIdSemestre() {
        let ddl = $('#ddlSemestre').val(); //ACCEDER AL VALOR SELECCIONADO
        $.ajax({
            url: "@Url.Action("GetByIdSemestre", "Materia")?idSemestre="+ddl,
            type: "GET",
            dataType: "JSON",
            //data => MODELOS
            success: function (result) {
                //console.log(result)
                if (result.Correct) {
                    //buscar el ddl donde pintare los valores
                    let ddlMateria = $('#ddlMateria');
                    ddlMateria.empty();
                    let optionDefault = "<option>Selecciona una materia</option>"
                    ddlMateria.append(optionDefault)
                    $.each(result.Objects, function (i, valor) {
                        let option = `<option value=${valor.IdMateria}>${valor.Nombre}</option>`
                        //console.log(option)
                        ddlMateria.append(option)
                    })
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        })
    }
</script>
