@model ML.Materia

@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<h2>Materias</h2>


@* condicion Materias > 0 *@

@if (Model.Materias.Count > 0)
{

    <div class="container">
        <div class="row">
            <div class="col">

                <a href="@Url.Action("Form", "Materia")" class="btn btn-success">Agregar Registro</a>
                <table class="table table-dark table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Creditos</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Semestre</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Materia materia in Model.Materias)
                        {
                            <tr>
                                <td>
                                    @if (materia.Status)
                                    {
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked onchange="CambioStatus(@materia.IdMateria, this)">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="CambioStatus(@materia.IdMateria, this)">
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Form", "Materia", new {IdMateria = materia.IdMateria})" class="btn btn-warning">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td>
                                    @if(materia.Imagen == null)
                                    {
                                        <img id="img" src="https://cdn-icons-png.flaticon.com/512/3682/3682281.png" width="100" , height="100" />
                                    }
                                    else
                                    {
                                        <img src="data:image/*;base64,  @Convert.ToBase64String(materia.Imagen)" width="100" , height="100" />
                                    }
                                </td>
                                <td>@materia.Nombre</td>
                                <td>@materia.Costo</td>
                                <td>@materia.Creditos</td>
                                <td>@materia.Fecha</td>
                                <td>@materia.Semestre.Nombre</td>
                                <td>
                                    <a href="@Url.Action("Delete", "Materia", new {IdMateria = materia.IdMateria})" class="btn btn-danger" onclick="return confirm('Seguro que quieres eliminarlo?')">
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger" role="alert">
        No hay registros
    </div>

}

<script src="~/Scripts/jquery-3.7.0.js"></script>

<script>
    function CambioStatus(IdMateria, input) {
        let status = input.checked
        $.ajax({
            url: "@Url.Action("CambioStatus","Materia")", //ruta relativa
            dataType: "json",
            type: "POST", //GET, POST, PUT, DELETE
            data: { IdMateria: IdMateria, Status: status },
            success: function (result) {
                if (result.Correct) {
                    //algo
                } else {
                    alert("Hubo un error")
                }
            }, //entra cuando ajax se conecto bien con el metodo
            error: function (xhr) {
                console.log(xhr)
            } //entrar cuando ajax no se conecto bien con el metodo
        })
    }
</script>